<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error_Logging</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/CSS/login.css">
</head>
<body>

<!--메인 container-->
<main style="display: flex; align-items: center; flex-direction: column; justify-content: center">
    <!-- 상단 제목 container -->
    <div class="container">
        <div class="row" style=" margin:25px auto;">
            <div class="fs-4 text-primary text-center">
                🔥Error_Logging🔥
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row form-signin">
            <form>
                <div class="form-floating pb-3">
                    <input type="text/plain" class="form-control" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">ID</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>

                <button class="mt-3 w-100 btn btn-lg btn-primary" type="submit">로그인</button>
            </form>
        </div>
        <div class="row form-signin">
            <span  style="display: flex;flex-direction: row ;justify-content: flex-end; ">
<!--                  <button  style="margin-right: 5px" type="button" class="btn btn-outline-primary"></button>-->
                 <button type="button" class="btn btn-outline-primary" onclick="signup()">SignUp</button>
            </span>
        </div>
    </div>


</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script>
    function signup(){
        window.location.href='/log/signup'
    }
</script>
</body>
</html>