<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/CSS/write.css">


    <title>에러 작성</title>

    <style>

    </style>

    <script>
        let formData = new FormData()
        let user_nickname = '{{user_info.user_nickname}}'
        function add_image(type, input) {
            console.log(type)

            if(formData.has(type)){
                formData.delete(type)
            }

            formData.append(type, input.files[0])
            for (let value of formData.values()) {
                console.log(value);
            }
        }

        function save_detail() {


            let title = $('#title').val()
            let detail = $('#detail').val()
            let solution = $(`#solution`).val()
            formData.append("title_give", title)
            formData.append("detail_give", detail)
            formData.append("solution_give", solution)
            formData.append("user_nickname",user_nickname)

            $.ajax({
                type: 'POST',
                url: '/write',
                data: formData,
                contentType: false,
                processData: false,
                success: function () {
                    if (title, detail, solution == "") {
                        alert("칸이 비어있습니다")
                        window.location.reload()
                    } else {
                        window.location.replace('/')

                    }

                }
            });
        }
    </script>
</head>
<body>
<h1 style="color: black; font-size: 3em; margin-top: 60px; font-weight: bold">Error 작성하기</h1>
<div class="detail-container">
    <div class="detail-info">
        <h1>👿에러사항</h1>

        <span class="input-group-text">제목</span>
        <div class="input-group mb-3">
            <input id="title" type="text" class="form-control" placeholder="제목을 입력해주세요" onfocus="this.placeholder = ''"
                   onblur="this.placeholder = '제목을 입력해주세요'">
        </div>

        <div class="input-detail-container">
            <span class="input-group-text input-group-detail-span">상세설명</span>
            <div class="input-group input-group-second mb-3">
                <textarea id="detail" type="text" class="form-control-detail" placeholder="상세하게 입력해주세요"
                          onfocus="this.placeholder = ''" onblur="this.placeholder = '상세하게 입력해주세요'"></textarea>
            </div>
        </div>

        <label>이미지 첨부</label>
        <input style="" onchange="add_image('error_image',this)" accept="image/*" type="file"
               class="form-control-image" id="error_image" aria-describedby="inputGroupFileAddon04"
               aria-label="Upload">

        <div class="detail-container" style="padding-top: 50px">
            <h1>😊해결방안</h1>
            <div>
                <div class="input-detail-container" style="padding-top: 70px">
                    <span class="input-group-text input-group-detail-span">상세설명</span>
                    <div class="input-group input-group-second mb-3">
                        <textarea id="solution" type="text" class="form-control-detail"
                                  placeholder="상세하게 입력해주세요" onfocus="this.placeholder = ''"
                                  onblur="this.placeholder = '상세하게 입력해주세요'"></textarea>
                    </div>
                </div>

                <label>이미지 첨부</label>
                <input style="" onchange="add_image('solution_image',this)" accept="image/*" type="file"
                       class="form-control-image" id="solution_image" aria-describedby="inputGroupFileAddon04"
                       aria-label="Upload">
            </div>
        </div>


        <div class="btn-3-container">
            <div class="btn-3-box">
                <button onclick="save_detail()" id="submit-btn" class="btn btn-warning btn-3"><span>작성하기</span>
                </button>
            </div>
        </div>
    </div>
</div>


</body>
</html>

